.login-card {
    width: 420px;
    min-height: 500px;

    background: rgba(55, 65, 80, 0.45);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(150, 170, 190, 0.2);
    border-radius: 25px;

    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);

    padding: 40px;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    color: black;
}

.logo i {
    color: #6f9fcf;
    font-size: 1.5rem;
    margin-right: 6px;
}

.login-input::placeholder {
    color: rgba(255, 255, 255, 0.45) !important;
}

[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.25)!important;
}