html{
  scroll-behavior: smooth;
}

.nav-link.active {

  color: blue !important;

}
.footer{
  background-color: rgb(9, 2, 26);
}
.btn-outline-dark {
  transition: transform 0.8s ease !important;
}

.btn-outline-dark:hover {
  transform: scale(1.06) !important;
}

.limited{
  background-color: rgb(9, 2, 26);
  color: aliceblue;
}


@media screen and (max-width: 768px) {
  .nav-link {
    color: blue;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    transition: all 0.3s ease !important;
    margin-bottom:3px ;
  }
  .nav-link:hover {
    color: blue;
    background-color: rgba(47, 47, 59, 0.2);
    border-radius: 10px 10px 10px 10px;
   
  }
}